**/bin
**/obj
node_modules
tests
.git
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json
.env
.env.*
*.user
*.suo
*.pem
*.key
*.pfx
*.p12
secrets.json
*.db
*.sqlite
*.dump
*.backup
*.log
